streamlit

langchain>=1.0.0
langchain-core>=1.0.0
langchain-community
langchain-openai
openai>=1.30.0
langchain-google-genai

tavily-python

beautifulsoup4
requests
lxml

python-dotenv
aiohttp
pandas
tiktoken
rich
tenacity
orjson
pydantic>=2.5.0
html5lib
